<h1>To Do List</h1>

<ul>
  <% @notes.each do |note| %>
  <li><%= note.title %></li>
  <p><%= note.description %></p>
  <span><%= link_to 'Delete Note', note, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</ul>


<%= link_to 'New Note', new_note_path %>
